
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}


/* most jön a kód */


html {
  min-height: 100%;
 color: #F9F871
}


body {
 height: 100vh;
  width: 100vw;
 background-image: url(bg.jpg);
}


.article {
  margin-left: 1rem;
  margin-top: 11rem;
}

.article h1 {
  font-size: 2.5rem;
  font-family: fantasy;
  margin-top: 5rem;
  margin-left: 1rem;
  text-align: center;
}

.article p {
  font-size: 1.10rem;
  margin-bottom: 2rem;
}

.article a {
  text-decoration: none;
  color: #F9F871;
}

.article a:hover {
  color: black;
}

.about {
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.tanulmany {
  font-weight: 300;
  margin-bottom: 1rem;
}

.about h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.article img {
  display: block;
  margin-left: 2rem;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 30px;
  border: 1px solid #F9F871;
  transition: all 0.5s ease-in-out;
  filter: grayscale(60%);
}

.article img:hover {
  transform: scale(1);
  filter: grayscale(10%);
}


.navbar {
  line-height: 2rem;
  font-size: 1.rem;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Space Mono', monospace;
  background-color: ;
  border-bottom: 0.5rem;
  position: absolute;
  top:0;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 2rem;
  
}

nav {
 
}


nav a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #F9F871;
    border: 1px solid #333;
    border-radius: 9999px;
    padding: 0;
  margin-left: 0;
  margin-right: 0;
  }

@media (min-width:500px) {

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
    nav a {
    float: right;
   padding-left: 1rem;
      padding-right: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .keret {
    margin-top: 0.8rem;
  }
  
  .kezdolap {
    float: left;
  }
  
  .article h1 {
    font-size: 3rem;
  }
  .article {
    top: 200px;
    text-align: none;
  }
}

nav a:hover {
  border-color: #F9F871;
  border-radius: 9999px;
  color: #F9F871;
  background-color: #666;
  transition: background-color .3s ease-in-out;
}


.page {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}


table {
  margin-bottom: 0.25rem;
}


hr {
  height: 2px;
  color: #F9F871;
  background-color: #F9F871;
}


footer {
  position: absolute;
  width: 100vw;
  height: ;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer a {
  text-decoration: none;
  color: #F9F871;
  font-style: italic
}








